
@{
    ViewData["Title"] = "Marka_Ekle";
}

<h1>Marka_Ekle</h1>


<form asp-controller="Marka" asp-action="Marka_Kaydet" method="post">
    <label>İsim: </label>
    <input type="text" name="İsim" />
    <br />
    <button type="submit">
        Kaydet
    </button>
</form>
