
@{
    ViewData["Title"] = "Kategori_Ekle";
}

<h1>Kategori_Ekle</h1>


<form asp-controller="Kategori" asp-action="Kategori_Kaydet" method="post">
    <label>İsim: </label>
    <input type="text" name="İsim" />
    <br />
    <button type="submit">
        Kaydet
    </button>
</form>
